/* Colors */

$origin-black: #000000;
$origin-white: #ffffff;

$basic-black: #1e2945;
$basic-blue: #2e73fe;
$basic-grey: #93b2dc;
$basic-grey-light: #fbfcfd;

/* Custom Font */

$basic-font: "Qanelas-Regular", "Arial", sans-serif;

/* Viewports */

$tablet-width: 768px;
$desktop-width: 1440px;
$mobile-width-only: 767px;
