.assets {
  padding-top: 154px;
  padding-bottom: 186px;
  height: 220px;
  background-color: $origin-white;

  h2 {
    font-weight: normal;
    font-size: 40px;
    line-height: 50px;
    letter-spacing: 0.0888889px;
    text-align: center;
    margin-top: 0;
  }
}

.assets__list {
  padding: 0;
  margin: 0 auto;
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fill, 50%);
  grid-auto-rows: auto;
  justify-content: center;

  @media (min-width: $tablet-width) {
    grid-template-columns: repeat(auto-fill, 194px);
  }

  @media (min-width: $desktop-width) {
    width: 1040px;
    grid-template-columns: repeat(auto-fill, 194px);
  }
}

.assets__item {
  text-align: center;
}
