.info {
  padding-top: 100px;
  padding-bottom: 122px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  @media (min-width: $tablet-width) {
    padding-top: 150px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 212px;
    justify-content: start;
  }

  h2 {
    width: 100%;
    font-weight: normal;
    font-size: 40px;
    line-height: 39px;
    letter-spacing: 0.0888889px;
  }

  p {

    @media (min-width: $tablet-width) {
      width: 45%;
    }

    @media (min-width: $desktop-width) {
      width: 554px;
    }
  }

  p:nth-of-type(2n) {

    @media (min-width: $tablet-width) {
      margin-left: 65px;
    }
  }
}
