.mobile-apps {
  height: 500px;
  padding-top: 490px;
  background-image: url(../img/mobile-apps-bg.svg);
  background-repeat: no-repeat;
  background-position: center bottom;
  color: $origin-white;
}

.mobile-apps__wrapper {
  padding-left: 90px;
  width: 390px;
}
